// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


// Custom code goes here..
.tasks-view{
    .x-dataview-item{
        position:relative;
        padding:5px 10px;

        .item-remove{
            float:left;
            margin-right:10px;
            width:30px;
            height:30px;
            @include inline-icon('minus');
            cursor:pointer;
        }

        .item-remove:before{
            text-align: left;
            font-size: 28px;
            left: 10px;
            top: 5px;
        }
    }
}

//@include icon('remove', '-');